body {
    background:#FEDCF4;
    font-family: Arial, Helvetica, sans-serif;

}

.directory h1{
    text-align: right;
    font-size: 64px;

}

.assignment {
    background-color: #d2eef7;
    display:flex;
    padding:5px;
    margin: 10px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 10px 10px #F9F9D3;

}

.assignment img{

    width: 400px;
    margin: 30px;
    margin-right: 40px;
    border: 20px solid #F9F9D3;
    border-radius: 30px;
}

h2 { 
    color: #FEDCF4;
    text-shadow: 2px 2px #777273;
    font-size: 48px;
}

p{
    margin-top: 55px;
    margin-left: 20px;
    color: #F9F9D3;
    font-size: xx-large;
    text-shadow: 2px 2px #8b8b6d;

}

a{
    text-decoration: #f9f9d3;
    font-size: 8px;
}

.assignment a:hover{
    color: #ff002b;
}