body {
    background:rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;

}

.assignment {
    background-color: rgb(194, 223, 245);
    display:flex;
    padding:5px;
    margin: 10px;

}

.assignment img{
    width: 750px;
    padding: 30px;
}

h2 { 
    color: black;
}